@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/icon.png" class="icon-banner">
            HomeServing's SSO
        </a>

        <ul class="navbar-nav mr-auto">

            @if (!string.IsNullOrWhiteSpace(name))
            {

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        @name <b class="caret"></b>
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="UpdateProfile" asp-controller="Account">基本信息管理</a>
                        <a class="dropdown-item" asp-action="UpdatePassword" asp-controller="Account">密码管理</a>
                        <a class="dropdown-item" asp-action="UpdateAvatar" asp-controller="Account">头像管理</a>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">登出</a>
                    </div>
                </li>

                @if (User.IsInRole("Root") || User.IsInRole("Administrator"))
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            系统管理
                        </a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-action="Index" asp-controller="User">用户管理</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="Role">角色管理</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="ApiScopeManage">Api Scope管理</a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="ClientManage">客户端管理</a>
                        </div>
                    </li>
                }
            }
            else
            {
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        操作
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Login" asp-controller="Account">登录</a>
                        <a class="dropdown-item" asp-action="Register" asp-controller="Account">注册</a>
                    </div>
                </li>
            }
        </ul>
    </nav>
</div>