@model HomeServing.SSO.Modules.Account.UpdatePasswordViewModel

<div class="update-password-page">
    <div class="lead">
        <h1>更新密码</h1>
        <p>更新您账户的密码.</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>更新密码</h2>
                </div>

                <div class="card-body">
                    <form method="post" asp-route="Register">
                        <div class="form-group">
                            <label>旧密码</label>
                            <input type="password" class="form-control" placeholder="旧密码" asp-for="OldPassword" autofocus />
                        </div>
                        <div class="form-group">
                            <label>新密码</label>
                            <input type="password" class="form-control" placeholder="新密码" asp-for="NewPassword" />
                        </div>
                        <div class="form-group">
                            <label>新密码确认</label>
                            <input type="password" class="form-control" placeholder="新密码确认" asp-for="ConfirmNewPassword" />
                        </div>

                        <button class="btn btn-primary" name="button" value="update" type="submit">更新</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
