@model HomeServing.SSO.Modules.ClientManage.ClientAddViewModel

<div class="add-client">
    <div class="lead">
        <h1>添加客户端</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>客户端</h2>
                </div>

                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label>启用(Enabled)</label>
                            <input class="form-control" type="checkbox" asp-for="Enabled" autofocus>
                        </div>
                        <div class="form-group">
                            <label>客户端ID(ClientId)</label>
                            <input class="form-control" type="text" asp-for="ClientId" autofocus>
                        </div>
                        <div class="form-group">
                            <label>客户端名称(ClientName)</label>
                            <input class="form-control" type="text" asp-for="ClientName" autofocus>
                        </div>
                        <div class="form-group">
                            <label>要求客户端Secret(RequireClientSecret)</label>
                            <input class="form-control" type="checkbox" asp-for="RequireClientSecret" autofocus>
                        </div>
                        <div class="form-group">
                            <label>简介(Description)</label>
                            <input class="form-control" type="text" asp-for="Description" autofocus>
                        </div>
                        <div class="form-group">
                            <label>客户端Uri(ClientUri)</label>
                            <input class="form-control" type="text" asp-for="ClientUri" autofocus>
                        </div>
                        <div class="form-group">
                            <label>允许浏览器AccessToken(AllowAccessTokensViaBrowser)</label>
                            <input class="form-control" type="checkbox" asp-for="AllowAccessTokensViaBrowser" autofocus>
                        </div>
                        <div class="form-group">
                            <label>前端通道登出Uri(FrontChannelLogoutUri)</label>
                            <input class="form-control" type="text" asp-for="FrontChannelLogoutUri" autofocus>
                        </div>
                        <div class="form-group">
                            <label>后端通道登出Uri(BackChannelLogoutUri)</label>
                            <input class="form-control" type="text" asp-for="BackChannelLogoutUri" autofocus>
                        </div>
                        <div class="form-group">
                            <label>在更新AK时刷新Claim(UpdateAccessTokenClaimsOnRefresh)</label>
                            <input class="form-control" type="checkbox" asp-for="UpdateAccessTokenClaimsOnRefresh" autofocus>
                        </div>
                        <div class="form-group">
                            <label>允许离线访问(AllowOfflineAccess)</label>
                            <input class="form-control" type="checkbox" asp-for="AllowOfflineAccess" autofocus>
                        </div>
                        <div class="form-group">
                            <label>启用本地登录(EnableLocalLogin)</label>
                            <input class="form-control" type="checkbox" asp-for="EnableLocalLogin" autofocus>
                        </div>
                        <div class="form-group">
                            <label>AuthorizationCode LifeTime</label>
                            <input class="form-control" type="text" asp-for="AuthorizationCodeLifetime" autofocus>
                        </div>
                        <div class="form-group">
                            <label>AccessToken LifeTime</label>
                            <input class="form-control" type="text" asp-for="AccessTokenLifetime" autofocus>
                        </div>
                        <div class="form-group">
                            <label>IdentityToken LifeTime</label>
                            <input class="form-control" type="text" asp-for="IdentityTokenLifetime" autofocus>
                        </div>
                        <div class="form-group">
                            <label>DeviceCode LifeTime</label>
                            <input class="form-control" type="text" asp-for="DeviceCodeLifetime" autofocus>
                        </div>
                        <div class="form-group">
                            <label>允许的授权方式(base64)</label>
                            <input class="form-control" asp-for="AllowedGrantTypesString" autofocus>
                        </div>
                        <div class="form-group">
                            <label>客户端Secrets(Base64)</label>
                            <input class="form-control" type="text" asp-for="ClientSecretsString" autofocus>
                        </div>
                        <div class="form-group">
                            <label>跳转Uris(Base64)</label>
                            <input class="form-control" asp-for="RedirectUrisString" autofocus>
                        </div>
                        <div class="form-group">
                            <label>POST登出跳转Uris(Base64)</label>
                            <input class="form-control" asp-for="PostLogoutRedirectUrisString" autofocus>
                        </div>
                        <div class="form-group">
                            <label>允许的Scope(Base64)</label>
                            <input class="form-control" asp-for="AllowedScopesString" autofocus>
                        </div>
                        <div class="form-group">
                            <label>允许的CORS源(Base64)</label>
                            <input class="form-control" asp-for="AllowedCorsOriginsString" autofocus>
                        </div>

                        <button class="btn btn-primary" name="button" type="submit">添加</button>
                        &nbsp;
                        <a class="btn btn-secondary" asp-action="Index">返回主页</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


