@model HomeServing.SSO.Modules.ApiScopeManage.ClaimToApiScopeViewModel

<div class="claim-scope">
    <div class="lead">
        <h1>添加Claim到Api Scope</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Api Scope</h2>
                </div>

                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="ApiScopeId" readonly="" />

                        <div class="form-group">
                            <label>Claim 类型</label>
                            <input class="form-control" type="text" asp-for="ClaimType" autofocus>
                        </div>

                        <button class="btn btn-primary" name="button" type="submit">添加</button>
                        &nbsp;
                        <a class="btn btn-secondary" asp-action="EditApiScope" asp-route-id="@Model.ApiScopeId">返回主页</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


