<div class="welcome-page">
    <h1>
        <img src="~/icon.jpg">
        欢迎来到HomeServing SSO集中认证系统
    </h1>

    <ul>
        <li>
            这是HomeServing所有应用程序的统一认证中心.
        </li>
        <li>
            您可以通过一个账户, 使用HomeServing所提供的全部服务.
        </li>
        <li>
            您可以在这里管理您的账户.
        </li>
    </ul>
</div>