@model HomeServing.SSO.Modules.Role.RoleEditViewModel

<div class="update-profile-page">
    <div class="lead">
        <h1>更新角色</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>更新角色</h2>
                </div>

                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label>角色名称</label>
                            <input class="form-control" placeholder="角色名称" asp-for="RoleName" autofocus />
                        </div>

                        <button class="btn btn-primary" name="button" value="update" type="submit">更新</button>
                        &nbsp;
                        <a class="btn btn-secondary" asp-action="Index">返回主页</a>
                    </form>
                </div>
                <hr />
                <ul>
                    @foreach (var user in Model.Users)
                    {
                        <li>@user</li>
                    }
                </ul>
                <div style="text-align: center">
                    <a asp-action="AddUserToRole" asp-route-id="@Model.Id">添加用户到角色</a>
                    <br />
                    <a asp-action="DeleteUserFromRole" asp-route-id="@Model.Id">删除用户从角色</a>
                </div>
            </div>
        </div>
    </div>
</div>

